render() {
  const { error, isLoaded, items } = this.state;
  if (error) {
    return <div>Error: {error.message}</div>;
  } else if (!isLoaded) {
    return <div>Loading...</div>;
  } else {
    return (
    <ul>
      {items.breeds.map(breed => (
        <li key={breed.id}>
          {breed.name}
        </li>
      ))}
    </ul>
    );
  }
}
