import React from "react";
import { render } from "react-dom";

import ApolloClient from "apollo-boost";
import { ApolloProvider } from "react-apollo";


const client = new ApolloClient({
  uri: "https://my-little-pony/graphql"
});


const App = () => (
  <ApolloProvider client={client}>
    <div>
      ...
    </div>
  </ApolloProvider>
);

render(<App />, document.getElementById("root"));
