import gql from "graphql-tag";
import { GET_BREEDS } from './query'

const ADD_BREED = gql`
  mutation addBreed($name: String!){
    addBreed(string: $string) {
      id
      name
    }
  }
`;

const update = (cache, {data: { addBreed }}) => {
  const { addBreed } = cache.readQuery({
    query: GET_BREEDS
  })
  cache.writeQuery({
    query: GET_BREEDS,
    data: {
      getBreed: getBreed.concat(addBreed)
    }
  })
}
