import { Query } from "react-apollo";

const Breeds = () => (
  <Query
    query={GET_BREEDS}
  >
    {({ loading, error, data }) => {
      if (loading) return <p>Loading...</p>;
      if (error) return <p>Error :(</p>;

      return (
        <div>
          <ul>
            {data.breeds.map(breed => (
              <li key={breed.id}>
                {breed.name}
              </li>
            ))}
          </ul>
        </div>
      )
    }}
  </Query>
)
