{
  "data": {
    "totalBreeds": "2",
    "breeds": [
      {
        "id": "joijjlz543346",
        "name": "Frison",
      },
      {
        "id": "ferg656565",
        "name": "Welsh",
      }
    ],
    "ponies": {
      "name": "Morgana",
      "breed": {
        "name": Frison"
      },
      "age": 7ans,
    }
  }
}
