{
  "count": 2
  "results": [
    {
      "id": "joijjlz543346",
      "name": "Frison",
      "description": "saddle and draft horses from Friesland, province of the Netherlands from which it takes its name.",
      "origin": "Netherlands"
    },
    {
      "id": "ferg656565",
      "name": "Welsh",
      "description": "The Welsh, or Welsh pony, is a pony breed from Wales. The stud book is created in 1902.",
      "origin": "Wales"
    }
  ]
}
